#main_news{
	width:50%;
	height:500px;
	
	margin-top:30px;
	margin-left:25%;
}
.main_news_head{
	font-size:15px;
	color:#666;
	width:auto;
	height:30px;
	border-bottom:4px solid #999;
}
.main_news_title{
	margin-top:15px;
	font-size:22px;
	color:#333;
}
.main_news_info{
	margin-left:5px;
	margin-top:20px;
	height:20px;
	border-bottom:1px solid #aaa;
	font-size:14px;
	color:#666;
}
.main_news_content{
	margin-top:20px;
	text-indent:2em;
	line-height:24px;
	font-size:16px;
	font-family:Verdana, Geneva, sans-serif;
	color:#222;
}